.container_2{
    height: 80vh;
    display: flex;
}

.container_3 h1{
    width: 40%;
    margin: 0 auto;
    padding-top: 5rem;
    font-size: 45px;
    letter-spacing: -2px;
    text-align: start;
    font-family:"DM Sans", sans-seri;
    line-height: 54px;
    align-items: center;
}
.container_3 p{
padding-left: 10.2rem;
padding-top: 2rem;
opacity: 80%;
line-height: 1.5rem;
}
.container_4{
    width: 92%;
    text-align: center;
    padding-top: 4rem;
}
.container_4 a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 22px 40px;
    background-color: #6244c5;
    border-radius: 16px;
    font-family: inter, sans-serif;
}
.container_4 a:hover{
    background-color: #14121d;
    transition:.7s;
}